<% provide(:title, 'Contact | Ruby on rails tutorial') %>


<h2>Contact</h2>
<h5>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="http://www.railstutorial.org/#contact">contact page</a>.
</h5>