<li><%= gravatar_for user %></li>
<li><%= link_to user.name, user_path(user), class: "user_name" %><% if current_user.admin? && !current_user?(user) %>
			<%= link_to "Delete", user, method: :delete, data: { confirm: "delete user?" }, class: "user_name_link" %>
	<% end %>
		
	</li>


